{% extends 'layout.html' %}

{% block content %}
<div class="site-blocks-cover inner-page overlay" style="background-image: url(static/images/2018_2019/team2018_2019.jpg);"
  data-aos="fade" data-stellar-background-ratio="0.9">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="mb-5">The <strong>Team</strong></h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section section-about">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 text-black">Innovate. Design. <strong>Build.</strong></h2>
      </div>
    </div>
    <p class="col-md-12">
      The Stony Brook Robotics Team is a competitive, multidisciplinary, engineering design team at Stony Brook
      University.
      <strong>Our mission is to foster an interest in robotics through competition, to empower students to gain
        practical experience in engineering and design, and to develop a core community of dedicated roboticists,
        scientists and engineers at Stony Brook.</strong> With a focus on team bonding and growth, we are
      dedicated to developing the engineering community on-campus.
    </p>
    <p class="col-md-12"></p>
    <p class="col-md-12"><strong>Member Development</strong></p>
    <p class="col-md-12">
      Above all else, we prioritize our members. As such, throughout the year, we host a diverse array
      of workshops, design challenges and other events to teach foundational engineering and design tools
      and methods, such as CAD, object-oriented programming and PCB design. We hope to continue to provide
      our members with opportunities to grow and succeed as individuals and as professionals in their
      respective fields.
    </p>
    <p class="col-md-12"></p>
    <p class="col-md-12"><strong>Mentorship Program</strong></p>
    <p class="col-md-12">
      The Stony Brook Robotics Team's Mentoring Program is an initiative created to develop the skills of
      aspiring roboticists, engineers and scientists at Stony Brook University through peer mentorship in a
      wide-variety of fields ranging from mechanical design to object-oriented programming. The program matches
      students to SBRT members based on topic and project interests. Over the course of a year, students are
      taught the fundamentals of specific field and given collaborative projects that help them apply their
      newly learned skills to build practical technologies.
    </p>
    <p class="text-center"><a href="{{ url_for('mentorship') }}" class="btn btn-primary rounded-0 px-4 py-2 text-white">Learn
        More</a></p>
    <p class="col-md-12"></p>
    <p class="col-md-12"><strong>Internal Competition</strong></p>
    <p class="col-md-12">
      Every year, the Stony Brook Robotics Team hosts a robotics competition at Stony Brook University for
      students interested in learning about robotics, developing their technical skills, and meeting like-minded
      people from all across campus. Over the course of a month, students form teams of 4-6 members to
      build robots to accomplish a set of tasks with the provided materials. On competition day, students have the
      opportunity to show off their robots in front of their peers, faculty, and staff, as well as win awards.
    </p>
    <p class="text-center"><a href="{{ url_for('internalcomp') }}" class="btn btn-primary rounded-0 px-4 py-2 text-white">Get
        Involved</a></p>
    <p class="col-md-12"></p>
    <p class="col-md-12"><strong>Interested in Joining?</strong></p>
    <p class="col-md-12">
      At the start of every semester, we recruit motivated and hard-working students from all years and
      from all disciplines who wish to be part of a continously-growing community and share their passion
      for engineering, design and robotics. Students of all skill-levels are welcome!
    </p>
    <p class="text-center"><a href="{{ url_for('join') }}" class="btn btn-primary rounded-0 px-4 py-2 text-white">Join The
        Team</a></p>
  </div>
</div>

<div class="site-section section-about bg-light">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 text-black mb-5">Executive <strong>Board</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/pres.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Prangon Ghose</h3>
          <p class="lead">President</p>
          <p>Prangon Ghose is a third year Computer Engineering student with a passion for product management
            and hardware-software integration.</p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/vp.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Kevin Li</h3>
          <p class="lead">Vice President</p>
          <p>Kevin Li is a fourth year Mechanical Engineering student with a passion for mechatronics and 3D
            printing technology.</p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/treas.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Jamila Khanfri</h3>
          <p class="lead">Treasurer</p>
          <p>Jamila Khanfri is a third year Mechanical Engineering student with an interest in robotics.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/sec.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Sean Reagan</h3>
          <p class="lead">Secretary</p>
          <p>Sean Reagan is a third year Computer Science student with a focus on cyber security and computer networks.
          </p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/prd.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Albert Thomas</h3>
          <p class="lead">Public Relations Director</p>
          <p>Albert Thomas is a third year Computer Engineering student with interests in bionics and embedded systems.
          </p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/sd.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Dorothy Lee</h3>
          <p class="lead">Sponsorship Director</p>
          <p>Dorothy Lee is a second year Electrical Engineering student with an interest in robotics.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/stl.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Daniel Moses</h3>
          <p class="lead">Software Team Lead</p>
          <p>Daniel Moses is a fourth year Computer Science student with a passion for in robotics and large-scale
            systems.</p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/etl.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Lily Li</h3>
          <p class="lead">Electrical Team Lead</p>
          <p>Lily Li is a second year Computer Engineering student with interests in robotics and embedded
            systems.</p>
        </div>
      </div>
      <div class="col-md-4 pl-md-5 text-left mb-5">
        <div>
          <img src="{{ url_for('static', filename='images/eboard/mtl.jpg') }}" alt="Image" class="w-50 mb-5 rounded">
          <h3>Joseph Maalouf</h3>
          <p class="lead">Mechanical Team Lead</p>
          <p>Joseph Maalouf is a third year Mechanical Engineering student with a passion for CAD and fabrication.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-white">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 text-black mb-5">Design <strong>Teams</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="site-block-feature-2 d-flex rounded mb-5">
          <div class="mr-4">
            <i class="fa fa-3x fa-code"></i>
          </div>
          <div class="text">
            <h3>Software</h3>
            <p>The Software Team is a robust and multi-disciplinary team with a focus toward
              autonomous navigation, computer vision and control systems. The team's main
              function is to develop the programs and applications that bring our robots to life.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="site-block-feature-2 d-flex rounded mb-5">
          <div class="mr-4">
            <i class="fa fa-3x fa-bolt"></i>
          </div>
          <div class="text">
            <h3>Electrical</h3>
            <p>The Electrical Team is an electrical engineering team geared toward PCB design,
              embedded systems. The team's primary function is to develop the core circuits that
              power our robots and to serve as an interface between the mechanical and software systems.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="site-block-feature-2 d-flex rounded mb-5">
          <div class="mr-4">
            <i class="fa fa-3x fa-cogs"></i>
          </div>
          <div class="text">
            <h3>Mechanical</h3>
            <p>The Mechanical Team is a multi-disciplinary design and fabrication team with a
              focus on CAD and mechanical fabrication. The team's main function is to design
              and build the mechanical structure of our robots.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}