{% extends 'layout.html' %}
{% block content %}


<div class="site-blocks-cover inner-page overlay" style="background-image: url(static/images/hero_bg_2.jpg);" data-aos="fade"
  data-stellar-background-ratio="0.9">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="mb-5">Get In <strong>Touch</strong></h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-white">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-8 mb-5">
        <div class="col-md-10 col-md-push-1">
          <h2 class="mb-5">Where are we?</h2>
        </div>
        <div class="col-md-10 col-md-push-1 map-responsive justify-content-center">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.1534987181344!2d-73.12557758483202!3d40.91238013326974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e83f33e67438bf%3A0x734c1ca56abdcc85!2sStony+Brook+University!5e0!3m2!1sen!2sus!4v1558371559306!5m2!1sen!2sus"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="p-4 mb-3 bg-light">
          <h3 class="h5 text-black mb-3">Contact Info</h3>

          <p class="mb-0 font-weight-bold">Email Address</p>
          <p class="mb-4"><a href="mailto:robotics_team@stonybrook.edu"
              target="_target">robotics_team@stonybrook.edu</a></p>

          <p class="mb-0 font-weight-bold">Mailing Address</p>
          <p class="mb-0">Stony Brook Robotics Team</p>
          <p class="mb-0">231 Engineering Building</p>
          <p class="mb-4">Stony Brook, NY 11794</p>

          <p class="mb-0 font-weight-bold">Lab Address</p>
          <p class="mb-0">014 Heavy Engineering Building</p>
          <p class="mb-4">Stony Brook, NY 11794</p>
        </div>

        <div class="p-4 mb-3 bg-light">
          <h3 class="h5 text-black mb-3">Join Us!</h3>
          <p>Interested in joining the team? We are always looking for students who are passionate about robotics and
            engineering.</p>
          <p><a href="{{ url_for('join') }}" class="btn btn-primary rounded-0 px-4 py-2 text-white">Join The Team</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}