{% extends 'layout.html' %}
{% block content %}
    <div class="site-blocks-cover inner-page overlay" style="background-image: url(static/images/img_3.jpg);"
      data-aos="fade" data-stellar-background-ratio="0.9">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h1 class="mb-5"><strong>Mentorship</strong> Program</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section section-about">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="display-4 text-black">What is the <strong>Mentorship Program</strong>?</h2>
          </div>
        </div>
        <p class="col-md-12">
          The Stony Brook Robotics Team's Mentorship Program is an
          initiative created to develop the skills of aspiring roboticists,
          engineers and scientists at Stony Brook University through peer mentorship
          in a wide-variety of fields ranging from mechanical design to computer vision.
          The program matches students to SBRT members based on topic and
          project interests. Over the course of a year, students are taught the fundamentals
          of a specific field and are given collaborative projects that will help them apply
          their newly learned skills to build practical technologies.
        </p>
        <p class="col-md-12"></p>
        <p class="col-md-12">
          Started in Fall 2018, the Mentorship Program seeks to harness the resources of
          SBRT members to help the next generation of Stony Brook engineers grow in their
          respective fields through hands-on training and projects. SBRT members from across
          all of our subteams volunteer to mentor 3-4 mentees from a diverse spectrum of majors.
          As the mentees continue to develop their skills, they will learn about their
          respective interests as well as the broader STEM field.
        </p>
        <p class="col-md-12"></p>
        <p class="col-md-12">
          The 2019-2020 Mentorship Program is currently being planned and the application will
          be released in Fall 2019. Follow us at <a href="https://www.instagram.com/sbroboticsteam"
            target="_blank">@sbroboticsteam</a>
          to keep up to date on the latest information!
        </p>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="display-4 text-black mb-5">Mentors</h2>
          </div>
        </div>

        <p class="text-center">To Be Determined.</p>

        <!--<div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                  <div class="w-100">
                    <img src="images/mentorship/mentor1.jpg" alt="Image" class="w-75 mb-5 rounded">
                  </div>
                  <div class="text">
                    <h3>Brendan Zotto</h3>
                    <p>Brendan Zotto is a fourth year Electrical Engineering student with a focus for PCB design and high-power electronics. He is mentoring students in PCB design, power systems, embedded systems and digital communication. </p>
                  </div>
                </div>
              </div>
    
              <div class="col-md-6 col-lg-6">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="w-100">
                        <img src="images/mentorship/mentor2.jpg" alt="Image" class="w-75 mb-5 rounded">
                    </div>
                  <div class="text">
                    <h3>Christopher Tong</h3>
                    <p>Christopher Tong is a third year Biomedical Engineering student with a focus on the application of electronics in healthcare. He is mentoring students in the accurate collection of electronic signal data from the environment to build a data acquisition device.</p>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-lg-6">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="w-100">
                        <img src="images/mentorship/mentor3.jpg" alt="Image" class="w-75 mb-5 rounded">
                    </div>
                  <div class="text">
                    <h3>John Boccio</h3>
                    <p>John Boccio is a third year Computer Engineering student with an interest in embedded systems. He is mentoring students in understanding the fundamental hardware and software techniques necessary to utilize microcontrollers.</p>
                  </div>
                </div>
              </div> 

              <div class="col-md-6 col-lg-6">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="w-100">
                        <img src="images/mentorship/mentor4.jpg" alt="Image" class="w-75 mb-5 rounded">
                    </div>
                  <div class="text">
                    <h3>Daniel Moses</h3>
                    <p>Daniel Moses is a third year Computer Science student with an interest in robotics and large-scale systems. He is mentoring students to understand message-passing and multi-threading as they integrate the URC subsystems.</p>
                  </div>
                </div>
              </div> 

              <div class="col-md-6 col-lg-6">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="w-100">
                        <img src="images/mentorship/mentor5.jpg" alt="Image" class="w-75 mb-5 rounded">
                    </div>
                  <div class="text">
                    <h3>Kevin Li</h3>
                    <p>Kevin Li is a third year Mechanical Engineering student with an interest in mechatronics. He is mentoring students in the application of electronics and microcontrollers in Mechanical Engineering through small-scale projects.</p>
                  </div>
                </div>
              </div>   
            </div>
          -->
      </div>
    </div>
{% endblock content %}