{% extends 'layout.html' %}
{% block content %}


<div class="site-blocks-cover inner-page overlay"
  style="background-image: url(static/images/2018_2019/team2018_2019.jpg);" data-aos="fade"
  data-stellar-background-ratio="0.9">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="mb-5"><strong>Sponsor</strong> Stony Brook Robotics</h1>
      </div>
    </div>
  </div>
</div>


<div class="site-section section-about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 text-black mb-5">Why Sponsor <strong>Us</strong>?</h2>
      </div>
    </div>
    <p class="col-md-12 justify-content-center">
      We are a team of 50+ students from a wide variety of disciplines, from atmospheric sciences to electrical
      engineering.
      <strong>By supporting the Stony Brook Robotics Team, you are aiding in the inspiration and training of the
        next
        generation of roboticists, scientists and engineers.</strong> Sponsoring SBRT is a great way to increase
      your reach to
      Stony Brook students, hire potential recruits, and obtain international exposure when we proudly wear your
      logo at our competitions!
    </p>
    <p class="col-md-12">
      All sponsors are prominently featured on our website and apparel, all of which help broadcast your name to
      the Stony Brook community. Our different levels of sponsorship provide companies a cost-effective way to
      support the team, with different levels of sponsorship corresponding to respective levels of promotion.
    </p>
    <p class="col-md-12">
      If you are interested in sponsoring the Stony Brook Robotics Team, please have a look at our
      <a href="docs/SBRT_2019-2020_Sponsorship_Packet.pdf" target="_blank">sponsorship packet</a>.
    </p>
    <p class="col-md-12"></p>
    <p class="text-center"><a
        href="mailto:robotics_team@stonybrook.edu?subject=I want to sponsor the Stony Brook Robotics Team"
        target="_blank" class="btn btn-lg btn-primary rounded-0 px-4 py-2 text-white">Sponsor Us</a></p>
  </div>
</div>


<div class="site-section section-about bg-light">
  <div id="sponsors" class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 text-black mb-5">Our <strong>Sponsors</strong></h2>
        <p>A big thank you to all of our wonderful sponsors who have helped us grow and succeed!</p>

      </div>
    </div>
    <div class="justify-content-center">
      <div class="row text-center flex-row">
        <div class="col-md-6 pl-md-5">
          <a href="http://stonybrookusg.org/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/usg.png') }}" alt="Stony Brook University USG"
              class="w-100 mb-5 img-fluid" /></a>
        </div>
        <div class="col-md-5 pl-md-5">
          <a href="https://www.stonybrook.edu/ceas/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/ceas.png') }}"
              alt="Stony Brook University College of Engineering and Applied Sciences"
              class="w-100 mb-5 img-fluid" /></a>
        </div>
      </div>
      <div class="row text-center flex-row">
        <div class="col-md-4 pl-md-5">
          <a href="http://www.maaloufashford.com/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/maalouf.png') }}" alt="Maalouf Ashford & Talbot, LLP"
              class="w-50 mb-5 img-fluid" /></a>
        </div>
        <div class="col-md-4 pl-md-5">
          <a href="https://www.protocase.com/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/protocase.png') }}" alt="Protocase"
              class="w-50 mb-5 img-fluid" /></a>
        </div>
        <div class="col-md-4 pl-md-5">
          <a href="https://voltera.io/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/voltera.png') }}" alt="Voltera"
              class="w-75 mb-5 img-fluid" /></a>
        </div>
      </div>
      <div class="row text-center flex-row">
        <div class="col-md-4 pl-md-5">
          <a href="https://www.solidworks.com/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/solidworks.png') }}" alt="Solidworks"
              class="w-50 mb-5 img-fluid" /></a>
        </div>
        <div class="col-md-4 pl-md-5">
          <a href="https://www.maxamps.com/" target="_blank"><img
              src="{{ url_for('static', filename='images/sponsors/maxamps.png') }}" alt="MaxAmps"
              class="w-50 mb-5 img-fluid" /></a>
        </div>
        <div class="col-md-4 pl-md-5">
          <a href="https://www.4pcb.com/" target="_blank"><img src="{{ url_for('static', filename='images/sponsors/advancedcircuits.png') }}"
                  alt=" Advanced Circuits" class="w-50 mb-5 img-fluid" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}